:root {
    --dark-clr: #3A4855;
}

.home__wrapper {
    width: 76%;
    margin: 0 auto;
    display: flex;
    min-height: calc(100vh - 80px);
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.home__left h1, .home__left span{
    display: block;
    font-size: 2.8rem;
    margin: 0;
    color: var(--dark-clr);
}
.home__left p {
    width: 60ch;
    margin: 1.8rem 0 3rem;
    font-size: 1.1rem;
    color: var(--dark-clr);
    line-height: 1.4;
    font-weight: 500;
}
.btn-rejoindre {
    margin-right: 10px;
}

.home__right img {
    width: 90%;
    float: right;
}

/* *********** media queries *********** */

@media only screen and (max-width: 1200px) {

    .home__wrapper {
        width: 85%
    }

    .home__right img {
        min-width: 50%;
    }
    .home__left h1,.home__left span{
        font-size: 2.1rem;
    }
    .home__left p {
        width: 45ch;
        font-size: 1rem;
        margin: 1rem 0 2.5rem;

    }
  }

  @media only screen and (max-width: 800px) {
    .home__wrapper {
        margin: 4rem auto;
        flex-direction: column-reverse;
        justify-content: center;
    }
    .home__left{
        margin: 2rem 0;
        text-align: center;
    }
    .home__right{
        display: flex;
        justify-content: center;
    }
    
  }
