
.gototop__icon {
    position: fixed;
    right: 3.5%;
    bottom: 5%;
    font-size: 3.5rem;
    color: #3C96AE;
    transition: .2s ease;
    cursor: pointer;
}
.gototop__icon:hover, .gototop__icon:focus {
    color: hsl(193, 49%, 56%);
}
@media only screen and (max-width: 1600px) {
    .gototop__icon{right: 7.5%;}
}