.joinUs {
    width: 85%;
    margin: 4em auto;
    color: #3A4855;
}
.joinUs h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2em;
}
#departement, #langue {
    width: 100%;
    padding: 1em;
    font-size: 1rem;
    border-radius: 5px;
    color: #3A4855;
}
#departement:focus, #langue:focus {
    outline: none;
}
#langue {
    margin-bottom: 2.5em;
}

@media only screen and (min-width: 1270px) {
    .joinUs {width: 76%}
    .joinUs__section{background-color: #F5FAFB}
    .form-split {display: flex}
    .btn-joinUs {float: right}
    .joinUs__left, .joinUs__right {
        flex-basis: 100%;
        padding: 0 3.5em;
    }
}