footer {
    width: 100%;
    background-color: #3A4855;
    color: white;
}
.footer-container {
    margin: 0 auto;
    display: flex;
    max-width: 1500px

}
.row{
    width: 100%
}
.block-container {
    width: 76% !important;
    margin: 0 auto;
    display: flex;
    color: white
}
.footer-container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
.row{
    width: 100%
}
.block-container {
    width: 76% !important;
    margin: 0 auto;
    display: flex;
    color: white
}
.footer-container {
    margin: 0 auto;
    display: flex
}
.row{
    width: 100%
}
.block-container {
    width: 76% !important;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.li-container {
    width: 76% !important;
    margin: 0 auto
}
.footer-item-block {
    padding: .8em 0;
    cursor: pointer;
    width: 100%;
    transition: .2s ease-out
}
.footer-item-block:hover,
.footer-item-block:focus{
    background-color: #5e7285;
    transition: .2s ease-out
}
.footer-item-block:not(.last){border-bottom: 1px solid #5e7285}
.col h2 {
    font-size: 1.3125rem;
    font-weight: 600
}
.col ul {
    list-style: none;
    margin: 0;
    padding: 0
}
.footer__icon{font-size: 1.5rem}
.col ul li{padding: 1em 0}
.col ul li:hover,
.col ul li:focus{
    background-color: #5e7285;
    transition: .2s ease-out
}
.col ul li a, .col ul li span{
    padding: 0 12%;
    text-decoration: none;
    color: white
}
.credits{
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin: 1em auto 1.5em;
}
.credits p {
    color: white;
    font-size: 1rem;
    margin:  0 .8em 0;
    display: inline-block;
    opacity: .5;
}
.credits .icon {
    font-size: 1.3125rem;
    color: white;
    cursor: pointer;
    opacity: .5;
}
.credits .icon:hover {
    opacity: 1;
}
.insta {
    margin-left: .5em;
}
@media only screen and (min-width: 900px) {
    footer{padding: 4em 0 1em ;font-size: 0.875rem;}
    .row {display: flex}
    .footer__icon{display: none}
    .col ul li a, .col ul li span{padding: 0}
    .col ul li a:hover{color: rgb(200, 200, 200)}
    .col ul li{padding: .5em 0}
    .footer-item-block:not(.last){border-bottom: none}
    .footer-container {
        width: 76%;
        align-items: center
    }
    .down {
        width: 100%;
        justify-content: space-between
    }
    .col ul {
        display: block !important;
        list-style: disc
    }
    .block-container {
        width: 100% !important;
        margin: 0 0 2em;
        display: block
    }
    .footer-item-block {
        margin: 0;
        padding: 0;
        width: 100%;
        transition: none;
        cursor: default
    }
    
    .block-container {
        width: 100% !important;
        margin: 0 0 2em;
        display: block
    }
    .footer-item-block {
        margin: 0;
        padding: 0;
        width: 100%;
        transition: none;
        cursor: default
    }
    .footer-item-block:hover,
    .footer-item-block:focus,
    .col ul li:hover,
    .col ul li:focus{
        background-color: transparent;
        transition: none
    }
    .credits{margin-top: 2em;}

}
