*,
*::before,
*::after{box-sizing: border-box}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,'Montserrat', 'Segoe UI',sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px
}
.container {
  max-width: 1572px;
  margin: 0 auto
}
