.content__text {
    width: 85%;
    margin: 0 auto 2.5em;
    line-height: 1.6;
    color: #3A4855;
}

.content__heading {
    font-size: 2em;
    margin: 0;
}
.content__description {
    font-size: 1.125em;
    font-weight: 500;
}
.ContentDetails {
<<<<<<< HEAD
    margin: 2em auto;
    max-width: 1500px;
=======
    margin: 2em 0;
    min-height: calc(100vh - 128px);
>>>>>>> 2397d6cde2c48395cc0b89636caa16fd0a2b150f
}

@media only screen and (min-width: 1200px) {
    .content__description {
        text-align: center;
    }
    .content__text {
        width: 65%;
    }
    .content__heading {
        text-align: center;
    }
}